#map-container {
  background-color: var(--dark-grey);
  color: black;
  height: 80vh;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
  transition: 1s;
}

.datamaps-subunit {
  /* fill: black !important; */
}
