<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WFP</title>


  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


  <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css')}}"/> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/map.css')}}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css')}}"/>
</head>

<body>


  <div class="country-info"></div>


  <div id="top_menu">
    <div class="go-to-top">
      <a href="#begin"><i class="fa fa-globe" aria-hidden="true"></i></a>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="country-container">
          <!-- <div class="country-title">Dataset</div> -->
          <select id="dataset_select" class="form-control form-control-lg">
            <option class="dc-select-option" selected="selected" value="0">U.S. Dollar</option>
            <option class="dc-select-option" value="1">Affordability Index</option>
          </select>
        </div>
      </div>
      <div class="col-2">
        <div class="country-container">
          <!-- <div class="country-title">Regions</div> -->
          <select id="region_select" class="form-control form-control-lg" multiple="multiple"></select>
        </div>
      </div>
      <div class="col-2">
        <div class="country-container">
          <!-- <div class="country-title">Countries</div> -->
          <select id="country_select" class="form-control form-control-lg" multiple="multiple"></select>
        </div>
      </div>
      <div class="col-2">
        <div class="country-container">
          <!-- <div class="country-title">Products</div> -->
          <select id="product_select" class="form-control form-control-lg" multiple="multiple"></select>
        </div>
      </div>
      <div class="col-1">
        <button id="resetButton" type="button" class="btn btn-dark">Reset</button>
      </div>
    </div>
    <div class="row" style="padding-top: 10px;">
      <div class="col-12">
        <div id="years" class="row col-12">
        </div>
      </div>
    </div>
  </div>

  <main class="container-fluid">


    <div id="begin" class="row">
      <div class="col">
        <h1 class="site-title">World Food Security</h1>
      </div>
      <div class="col-md-1 offset-md-1">
        <img class="site-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Emblem_of_the_United_Nations.svg/240px-Emblem_of_the_United_Nations.svg.png"/>
      </div>
    </div>
    <div class="row">
      <div class="col-11">

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="map-container"></div>
      </div>
    </div>

    <!-- <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-product-tab" data-toggle="tab" href="#av-product" role="tab" aria-controls="nav-product" aria-selected="true">Product Prices</a>
    <a class="nav-item nav-link" id="nav-economy-tab" data-toggle="tab" href="#nav-economy" role="tab" aria-controls="nav-economy" aria-selected="false">Economy</a>
    <a class="nav-item nav-link" id="nav-correlation-tab" data-toggle="tab" href="#nav-correlation" role="tab" aria-controls="nav-correlation" aria-selected="false">Correlation</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="av-product" role="tabpanel" aria-labelledby="nav-product-tab">


</div>
<div class="tab-pane fade" id="nav-economy" role="tabpanel" aria-labelledby="nav-economy-tab">

</div>

<div class="tab-pane fade" id="nav-correlation" role="tabpanel" aria-labelledby="nav-correlation-tab">

</div>
-->

<section class="section-dark">
  <div class="row">
    <div class="col-3">
      <div class="data-panel">
        <div class="jumbotron panel-mortality">
          <img style="width: 50px" src="http://pngimg.com/uploads/skeleton/skeleton_PNG5540.png"/>
          <h1 class="display-6">Mortality Rate</h1>
          <p class="lead">Average Mortality Rate in <span id="mortalityCountry"></span></p>
          <h1><span id="totalMortality" class="display-6"></span>%</h1>
          <a href="#mortality" class="btn btn-danger">Learn more</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="data-panel">
        <div class="jumbotron panel-refugees">
          <img style="width: 50px" src="https://cdn.freebiesupply.com/logos/large/2x/unhcr-1-logo-png-transparent.png"/>
          <h1 class="display-6">Refugees</h1>
          <p class="lead">Total refugees in <span id="refugeesCountry"></span></p>
          <h1 id="totalRefugees" class="display-6"></h1>
          <a href="#refugees" class="btn btn-danger">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-light">




  <!-- DATA -->

  <div class="section-title panel-products">
    <h1 class="display-3">Products</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <h5>Prices</h5>
      <div id="prices_chart" class="data-panel"></div>
    </div>
    <div class="col-6">
      <h5>Gradient</h5>
      <div id="gradient_chart" class="data-panel"></div>
    </div>
  </div>
  <div class="section-title panel-economy">
    <h1 class="display-3">Economy</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <h5>Currency</h5>
      <div id="currency_chart" class="data-panel"></div>
    </div>
    <div class="col-6">
      <h5>GDP</h5>
      <div id="gdp_chart" class="data-panel"></div>
    </div>
  </div>


  <div class="section-title panel-cluster">
    <h1 class="display-3">Clustering & Correlation</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <h5>Correlation</h5>
      <div id="correlation_chart" class="data-panel"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <h1 class="display-6 text-dark">K-Means</h1>
      <table id="cluster_table" class="data-panel"></table>
    </div>
    <div class="col-4">
      <div id="tsne_plot" class="data-panel"></div>
    </div>
  </div>

  <div class="section-title panel-mortality">
    <h1 class="display-3">Mortality</h1>
  </div>
  <div id="mortality" class="row">
    <div class="col-6">
      <div id="mortality_chart" class="data-panel"></div>
    </div>
  </div>

  <div class="section-title panel-refugees">
    <h1 class="display-3">Refugees</h1>
  </div>
  <div id="refugees" class="row">
    <div class="col-8">
      <div class="data-panel">
        <div id="refugeesChart" style="height: 400px"></div>
      </div>
    </div>
    <div class="col-4">
      <div id="refugeesBarChart">
      </div>
    </div>
  </div>
</section>

<footer class="row">
  <div class="col">
    <p class="footer-text">Data provided by: WHO</p>
  </div>
</footer>
</main>
<!--
<div class="col">
<div id="city_select"> </div>
</div>
<div class="col">
<div id="select1"> </div>
</div>
<div class="col">
<div id="pieChart"> </div>
</div>
<div class="col">
</div> -->



<script src="{{ url_for('static', filename='js/countUp.js') }}" type="text/javascript"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- <script src="http://code.highcharts.com/stock/highstock.js"></script> -->
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- <script src="{{ url_for('static', filename='js/dark-unica.js') }}" type="text/javascript"></script> -->


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="{{ url_for('static', filename='datamaps.world.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/map.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jc.js') }}" type="text/javascript"></script>


</body>
</html>
